#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-size: auto;
  background-image: url('./img/stack-of-old-dictionary-books-iva376re8ofz4tah.jpeg');
}

h1 {
  color: white;
}